@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');
* {
	margin: 0;
	padding: 0;
}
body {
	padding: 10px 20px;
	background: rgba(0, 50, 20, 0.5);
}
.header {
	display: flex;
	justify-content: space-between;
}
.header__title {
	background: rgb(150,150,150);
	background: linear-gradient(rgb(200,200,200), rgb(150,150,150));
	display: inline-block;
	padding: 0.5rem 4rem;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(255,255,255,0.3) inset, 0 1px 1px rgba(0,0,0,0.5);
	margin-bottom: 10px;
	right: 0;
	font-family: mono;
	color: rgb(75, 100, 100);
	text-shadow: 0 1px 1px rgba(255,255,255,0.5);
	font-weight: normal;
}
.header__title:before,
.header__title:after {
	content: "×";
	font-weight: bold;
	background: radial-gradient(#fff, #999);
	border-radius: 50%;
	padding: 1px;
	line-height: 0.75rem;
	position: absolute;
	box-shadow: 0 1px 1px rgba(0,0,0,0.5);
	margin-top: 0.5rem;
	font-size: 1rem;
	color: #888;
	text-shadow: 0 1px 0 #fff;
}
.header__title:before {
	content: "+";
	margin-left: -3.25rem;
}
.header__title:after {
	margin-left: 2.75rem;
}
.header__version {
}
.tape {
	display: inline-block;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 2rem;
	transform: rotate(-3deg);
	padding: 0.5rem 1.5rem;
	background: rgba(255, 255, 200, 0.8);
	box-shadow: 0 1px 1px rgba(0,0,0,0.5);
	clip-path: polygon(2px 10px, 0px 0px, 100% 0, 100% 86%, 93% 100%, -2px 99%);
}
.board {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: repeat(8, 1fr);
	grid-gap: 2px;
	padding: 2px;
	background-color: rgba(0, 50, 0, 0.5);
	border-radius: 4px;
}
.tile {
	width: 100%;
	width: 100%;
	height: 100%;
	height: 50px;
	background-color: rgb(200, 250, 200);
	border-radius: 5px;
	box-shadow: inset 0 0 2px rgba(0,0,0,0.5), 0 0 1px rgba(0,0,0,0.2);
}
.tile.beat {
	background-color: rgb(175, 225, 175);
}
.tile.player {
	filter: hue-rotate(-90deg);
}
.tile.now {
	filter: hue-rotate(90deg);
}
.tile.now.player {
	filter: hue-rotate(180deg);
}
.tile.mark {
	background-color: rgba(150, 150, 250, 0.75);
}
.tile.beat.mark {
	background-color: rgba(150, 150, 250, 1);
}

.controls {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	width: 15vw;
	height: 15vw;
	grid-gap: 1vw;
	grid-template-areas:
		". u ."
		"l e r"
		". d .";
}
.controls button {
	background-color: lightgray;
	border-radius: 10% / 50%;
	box-shadow: 0 2px 2px black, inset 0 1px 1px white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 0 -1px white;
	font-family: mono;
	font-size: 24px;
	color: #666;
}

.controls__up {
	grid-area: u
}
.controls__left {
	grid-area: l
}
.controls__enter {
	grid-area: e
}
.controls__right {
	grid-area: r
}
.controls__down {
	grid-area: d
}
