#board {
	display: inline-block;
	margin: 0 auto;
	border: 1px solid red;
}
.row {
	display: inline-block;
}
.tile {
	border: 1px solid purple;
	display: inline-block;
	width: 50px;
	height: 50px;
}
.tile.player {
	background-color: red;
}
.tile.now {
	background-color: yellow;
}
.tile.mark {
	border-color: green;
}